[submodule "lib/utils"]
	path = lib/utils
	url = https://github.com/zwdzwd/utils.git
[submodule "lib/sgsl"]
	path = lib/sgsl
	url = https://github.com/zwdzwd/sgsl.git
[submodule "lib/klib"]
	path = lib/klib
	url = https://github.com/zwdzwd/klib.git
[submodule "lib/htslib"]
	path = lib/htslib
	url = https://github.com/zwdzwd/htslib.git
